node_modules
.idea
npm-debug.log
coverage
lib/system/activity.log*
lib/system/data/*.nedb
.DS_Store
test/temp/*
temp/*
test/backward-compatibility/test-temp
test/backward-compatibility/temp
test/backward-compatibility/tmp
test/backward-compatibility/*.nedb
test/Users
test/reports
*.log
test-longrunning/reports/*

